<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.hotNewsCrawler.dao.CrawlerInfoDAO">

    <insert id="inertCrawlerInfo" parameterType="top.kanetah.hotNewsCrawler.model.CrawlerInfo">
        INSERT INTO crawler_info (
            start_date, state, message
        ) VALUES (
            #{date}, #{state}, #{message}
        )
    </insert>

    <sql id="select_crawler_info">
        SELECT
            id         AS id,
            start_date AS staetDate,
            final_date AS finalDate,
            count      AS count,
            state      AS state,
            message    AS message
        FROM crawler_info
    </sql>

    <select id="findAllCrawlerInfo" resultType="top.kanetah.hotNewsCrawler.model.CrawlerInfo">
        <include refid="select_crawler_info"/>
    </select>

</mapper>