<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.hotNewsCrawler.dao.NewsDAO">

    <sql id="delete_news">
        DELETE FROM news
    </sql>

    <delete id="deleteAllNews">
        <include refid="delete_news"/>
    </delete>
    
    <delete id="deleteNewsById">
        <include refid="delete_news"/>
        <where>
            id = #{id}
        </where>
        ;
    </delete>

    <sql id="select_news">
        SELECT
            id      AS id,
            src     AS src,
            title   AS title,
            content AS content,
            date    AS date,
            type    AS type,
            rank    AS rank
        FROM news
    </sql>

    <select id="findAllNews" resultType="top.kanetah.hotNewsCrawler.model.News">
        <include refid="select_news"/>
        ORDER BY rank
    </select>

    <select id="findNewsById" resultType="top.kanetah.hotNewsCrawler.model.News">
        <include refid="select_news"/>
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findNewsBetweenDate" resultType="top.kanetah.hotNewsCrawler.model.News">
        <include refid="select_news"/>
        <where>
            time BETWEEN #{after} AND #{before}
        </where>
    </select>

    <select id="findNewsByType" resultType="top.kanetah.hotNewsCrawler.model.News">
        <include refid="select_news"/>
        <where>
            type = #{type}
        </where>
        ORDER BY time
        <if test="count>0">
            LIMIT #{count}
        </if>
    </select>

    <select id="findNewsByTitle_Like" resultType="top.kanetah.hotNewsCrawler.model.News">
        <include refid="select_news"/>
        <where>
            title LIKE #{title}
        </where>
    </select>

    <select id="findNewsIdOrderByRank" resultType="java.lang.Integer">
        SELECT id
        FROM news
        ORDER BY rank
    </select>

    <select id="findNewsIdByTypeOrderByRank" resultType="java.lang.Integer">
        SELECT id
        FROM news
            <where>
                type = #{type}
            </where>
        ORDER BY rank
    </select>

    <select id="findAllTypes" resultType="java.lang.String">
        SELECT type
        FROM news
        GROUP BY type
    </select>

    <select id="findAllTitle" resultType="java.lang.String">
        SELECT title
        FROM news
    </select>

</mapper>