nav:first-of-type{
	margin-top: 50px;
	margin-left: 1px;
	min-width: 300px;
}
.table{
	min-width: 800px;
}
td:hover{
	background-color: gainsboro;
}
td:first-child{
	text-align: center;
	width: 120px;
	font-size: 15px;
}
td{
	text-align: center;
}
.container {
	width: 1000px;
	padding-left: 300px;
	margin-bottom: 50px;
}
.container input{
	margin-left: 10px;
	margin-right: 5px;
}
.container .btn-danger, .container .btn-default{
	width: 80px;
	float: left;
}
#Add-btn{
	margin-right: 20px;
}
.pagination{
	margin: 0px;
}
.btn-link{
	float: left;
	width: 120px;
	margin-top: 14px;
	padding: 0px;
	color: #275fc5;
}
#UserEditor .modal-dialog, #UserAdd .modal-dialog{
	min-width: 425px;
	max-width: 430px;
}
#UserEditor .modal-body, #UserAdd .modal-body{
	min-width: 425px;
}
#UserEditor .btn-submit, #UserAdd .btn-submit{
	width: 100px;
}
#searchGroup{
	margin-left: 845px;
}
.radio-inline:nth-of-type(2){
	margin-right: 15px;
}
#SearchText{
	text-align: center;
	width: 200px;
	height: 30px;
	color: #0f0f0f;
	background-color: white;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border: 1px solid lightgrey;
	border-right: none;
	margin-top: 8px;
}
#SearchBtn{
	height: 30px;
	background-color: white;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border: 1px solid lightgrey;
	margin-top: 8px;
}
.dropdown-toggle, .selectButton,.commentSelectButton{
	float: left;
	width: 95px !important;
	height: 30px;
	margin-top: 4px;
	margin-right: 3px;
}
.btn-group{
	width: 95px !important;
	height: 30px;
}
.dateChoose{
	float: left;
	width: 230px;
	height: 25px;
	margin-top: 12px;
}
#From{
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid lightgrey;
}
#To{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid lightgrey;
}
p{
	margin: 0px;
}
.CommentContent{
	margin-left: 0px;
	margin-right: 0px;
}
/*
.CommentTime{
	 text-align: left;
 }*/
