nav:first-of-type{
	margin-top: 50px;
	margin-left: 1px;
	min-width: 300px;
}
.table{
	min-width: 800px;
}
.showUserInfo:hover{
	background-color: gainsboro;
}
td:first-child{
	text-align: center;
	width: 120px;
	font-size: 15px;
}
td{
	text-align: center;
	/*background-color: g;*/
}
.container {
	width: 1000px;
	padding-left: 300px;
	margin-bottom: 50px;
}
.container input{
	margin-left: 10px;
	margin-right: 5px;
}
.container .btn{
	width: 80px;
	float: left;
}
#Add-btn{
	margin-right: 20px;
}
.pagination{
	margin: 0px;
}
#UserEditor .modal-dialog, #UserAdd .modal-dialog{
	min-width: 425px;
	max-width: 430px;
}
#UserEditor .modal-body, #UserAdd .modal-body{
	min-width: 425px;
}
#UserEditor .btn-submit, #UserAdd .btn-submit{
	width: 100px;
}