@charset "UTF-8";

.navbar {
    background: black;
    z-index: 10010;
}

.w-e-text-container {
    height: 200px !important;
    z-index: 1000 !important;
}

.w-e-toolbar {
    height: 30px;
}

#editor {
    width: 700px;
    margin-left: 100px;
    margin-top: 0;
}

#editor-div {
    width: 800px !important;
    margin-left: 0;
}

#comment {
    float: right;
}

#type:before {
    content: '来源： ';
}

#type {
    float: left;
}

#rank:before {
    content: '热度： ';
    color: red;
}

#rank {
    float: right;
}

.comment {
    width: 700px;
    margin-left: 100px;
}

.comment > div {
    position: relative;
    transition: background 0.8s;
    border-radius: 7px;
    min-height: 80px;
}

.comment > div:hover {
    background: gainsboro;
}

.comment_info {
    float: left;
    width: 100px;
    margin-top: auto;
    padding-left: 10px;
}

.comment_user {
    font-size: x-large;
}

.comment_content {
    font-size: large;
    width: 600px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;
}

iframe{
    max-width: 100%;
}

.comment_content:hover {
    text-shadow: 1px 1px 1px gray;
}

.sider {
    margin-left: 800px;
    position: absolute;
    top: 100px;
    max-width: 300px;
    overflow: hidden;
}

.sider .list-group-item:hover {
    background: #FFFFCC;
    cursor: hand;
}

#relatedNews > li {
    border: none;
    /*border-bottom: solid lightgray 1px;*/
}

#relatedNews > li:nth-child(2) {
    /*border-top: solid lightgray 1px;*/
}
